:root {
  --div-bg: #fff;
  --main-bg: #c4c4c4;
  --main-text: #333;
  --light-text: #666;
  --separator: #777;
}

/* BASE */
* {
  font-family: 'Poppins', sans-serif;
  font-size: 1vw;
}

body {
  background-color: var(--main-bg);
}

/* HOME VIEW */
.home-view {
  display: flex; /* <---- SWITCH HERE */
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg);
  width: 100%;
  height: 100vh;
}

.home-background {
  background-image: url('../img/sky-background.jpeg');
  width: 98%;
  height: 96vh;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.home-container {
  display: flex;
  width: 50%;
  height: 15vw;
  flex-direction: column;
  justify-content: space-around;
}

.home-search-bar {
  background-color: var(--div-bg);
  width: 100%;
  min-height: 40px;
  display: flex;
  align-items: center;
  border-radius: 15px;
  opacity: 0.8;
}

.search-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50px;
}

.search-icon-container .fas {
  font-size: 1.5rem;
  color: var(--main-text);
  align-self: center;
  padding-left: 2%;

  display: none;
}

.search-icon-container .fas.active {
  display: block;
}

.lds-spinner {
  color: var(--main-text);
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;

  transform: translate(-20%, -20%) scale(0.4);

  display: none;
}

.lds-spinner.active {
  display: block;
}

.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: var(--main-text);
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.search-input {
  font-size: 1rem;
  color: var(--main-text);
  padding: 1% 2%;
  margin: 1% 0;
  width: 100%;
}

.search-clear-container .fas {
  font-size: 2rem;
  color: var(--main-text);
  margin-right: 1rem;
  cursor: pointer;

  display: none;
}

.search-clear-container .fas.active {
  display: block;
}

.search-info-container p {
  white-space: nowrap;
  margin: auto 1rem;
}

.home-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--div-bg);
  border-radius: 15px;
  height: 70%;
  opacity: 0.8;
  font-size: 1rem;
  font-weight: 300;
  color: var(--light-text);
}

.home-info-main {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-left: 2%;
}

.home-city-date {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.home-info-city {
  font-size: 2rem;
  font-weight: 600;
  color: var(--main-text);
  padding-left: 2%;
}

.home-date {
  display: inline-block;
  white-space: nowrap;
  padding-left: 3%;
  padding-bottom: 1.7%;
}

.home-info-temp {
  font-size: 4rem;
  font-weight: 600;
  color: var(--main-text);
  padding: 3%;
}

.home-vertical-separator {
  background-color: var(--separator);
  width: 2px;
  height: 70%;
}

.home-info-details {
  display: flex;
  flex-direction: row;
  width: 49%;
  justify-content: space-around;
}

.margin0 {
  margin: 0;
}

.details-value {
  font-weight: 600;
  font-size: 130%;
  color: var(--main-text);
}

.home-props {
  color: var(--light-text);
  font-size: 90%;
}

/* SEARCH VIEW */
.search-view {
  display: flex; /* <---- SWITCH HERE */
  justify-content: center;
  text-align: center;
  height: 100vh;
  width: 100%;
  position: absolute;
}

.wrapper {
  background-image: url(../img/sky-background.jpeg);
  width: 98%;
  height: 96vh;
  opacity: 0.8;
  top: 2vh;
  position: relative;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 30px;
  grid-template-areas:
    'daily daily item item item item item'
    'daily daily item item item item item'
    'daily daily main main main main main'
    'daily daily main main main main main';
  background-size: cover;
  border-radius: 15px;
}

/* DAILY */

.daily-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  grid-area: daily;
  background-color: var(--div-bg);
  border-radius: 15px 0 0 15px;
}

.daily-section-upper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 25%;
  width: 100%;
}

.daily-search-bar{
  display: flex;
  align-items: center;
  width: 80%;
  min-height: 40px;
  background-color: var(--main-bg);
  border-radius: 15px;
  font-size: 1.3rem;
  margin-top: 2%;
}

.daily-input {
  border: none;
  width: 100%;
  background-color: var(--main-bg);
  border-radius: 15px;
  margin: 2%;
  padding: 2%;
}

input[type='text'] {
  border: none;
}

input[type='text']:focus {
  outline-color: var(--separator);
  border-radius: 10px;
  border: none;
}

.daily-section_title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-start;
  margin-left: 10%;
}

.daily-section_city {
  font-size: 2rem;
  font-weight: 700;
  color: var(--main-text);
}

.daily-section_date {
  font-size: 1.3em;
  color: var(--main-text);
}

.daily-section-image-holder {
  height: 25%;
  width: 45%;
}

.daily-section img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.daily-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 25%;
  width: 100%;
}

.daily-section_temperature {
  font-weight: bold;
  font-size: 3em;
  color: var(--main-text);
}

.daily-section_cloudines {
  font-size: 1.7em;
  color: var(--light-text);
}

.daily-section_temperatures {
  display: flex;
  font-size: 1.2rem;
  color: var(--main-text);
}

.daily-section_min-temperature,
.daily-section_max-temperature {
  font-size: 1em;
  margin: auto 10px;
}

.daily-section_wind {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.fa-long-arrow-alt-left {
  color: var(--main-text);
  font-size: 1.7rem;
  transform: rotate(67deg);
}

.section_wind-parameter {
  font-size: 1.5rem;
  display: inline;
  white-space: nowrap;
  padding-left: 5%;
}

.daily-section_footer {
  align-self: flex-end;
  padding-right: 2%;
  padding-bottom: 2%;
  font-size: 1rem;
  color: var(--light-text);
}

.weather-conditions-section {
  display: flex;
  justify-content: space-between;
  grid-area: item;
  margin-right: 2%;
}

.weather-conditions_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--div-bg);
  width: 16%;
  border-radius: 15px;
  margin-top: 2%;
}

.weather-conditions_title {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--main-text);
  padding-top: 15%;
}

.card-image {
  display: block;
  width: 50%;
  height: 50%;
}

.card-info {
  display: flex;
  flex-direction: column;
  height: 45%;
  justify-content: space-around;
  margin-bottom: 10%;
}

.weather-conditions_temperature {
  font-size: 2rem;
  font-weight: 600;
  color: var(--main-text);
}

.weather-conditions_wind {
  display: flex;
  align-items: center;
}

.weather-conditions_cloudines {
  font-size: 1.4em;
  color: var(--light-text);
}

.weather-conditions_wind {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/* MAIN */

.main-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--div-bg);
  grid-area: main;
  border-radius: 15px;
  margin-bottom: 2%;
  margin-right: 2%;
}

.main-section_info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 100%;
}

.local-weather {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main-section_first-info {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 60%;
}

.main-section_first-info_title {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.main-city-country {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 2%;
}

.main-section_first-info_city {
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--main-text);
}

.main-country {
  color: var(--light-text);
  font-size: 1.5rem;
  font-weight: 300;
  padding-left: 5%;
  padding-bottom: 1%;
}

.main-section_first-info_date {
  font-size: 1.2rem;
  color: var(--light-text);
}

.main-section_first-info img {
  width: 35%;
}

.main-section_first-info_content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-section_first-info_second-content_temperature {
  font-size: 4.2rem;
  font-weight: 500;
  color: var(--main-text);
}

.main-section_first-info_second-content_cloudines {
  font-size: 1.5em;
  color: var(--light-text);
}

.main-section_dash {
  height: 80%;
  width: 2px;
  background-color: var(--separator);
}

.main-section_second-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 15%;
  height: 90%;
}

.main-section_second-info-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-section_second-info-temperature {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--main-text);
}

.main-section_second-info-text {
  font-size: 1rem;
  color: var(--main-text);
}

.main-section_location {
  width: 40%;
}

iframe {
  border-radius: 15px;
  border: 8px solid #c4c4c4;
  width: 25vw;
  height: 35vh;
}
